<!DOCTYPE html>
<html>
<head>
  <title>Multi</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body> 


<div class="container">
  <div id="narrow-browser-alert" class="alert alert-info text-center">
    <span class="pull-right">
     <% if user_signed_in? %>
     <%= link_to current_user.email, edit_user_registration_path %>
        <%= link_to "Sign out", destroy_user_session_path, method: :DELETE %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> 
        
      <% end %>
    </span>
    <strong><h3>Bridge Connectivity Solutions </h3></strong> 
    <br>Bridge Community to Technology and Services!
  </div>

  <% if flash.present? %>
  <div class="alert fade in alert-<%= flash.notice ? "success" : "danger" %>" role="alert"><%= flash.notice ? notice : alert %>
    <button class="close" data-dismiss="alert">×</button>
    </form>
  </div>
  <% end %>

  <%= yield %>

 </div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">© Bridge Connectivity Solutions <%= Time.now.year %></p>
  </div>
</footer>

</body>
</html>